<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
</head>
<body>
	<div th:fragment="userCreate_contents">
		<div class="form-row col-sm-auto scroll-2">
			<div class="col-sm-8">
				<div>
					<h2>ユーザー登録画面</h2>
				</div>
				<hr class="line-max"/>
				<form method="post" th:action="@{/userCreate}" th:object="${validForm}" >
					<table class="table table-bordered table-hover table-sm">

						<!-- ユーザID入力エリア -->
						<tr>
							<th class="active border-secondary bg-dark text-light align-middle width-20">ユーザーID</th>
							<td>
								<div class="row align-items-center m-auto">
									<div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('userId')} ? 'has-error'">
										<input type="text" class="form-control form-control-sm valign-c" th:field="*{userId}" />
									</div>
								</div>
								<div class="col-auto m-auto">
									<small>※ メールアドレス形式　</small>
									<span class="text-danger m-auto font-sc float-right" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">
										userId error</span>
								</div>
							</td>
						</tr>

						<!-- パスワード入力エリア -->
						<tr>
							<th class="active border-secondary bg-dark text-light align-middle">パスワード</th>
							<td>
								<div class="row align-items-center m-auto">
									<div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
										<input type="text" class="form-control form-control-sm valign-c" th:field="*{password}" />
									</div>
								</div>
								<div class="col-auto m-auto">
									<small>※ 4～100桁、半角英数字のみ　</small>
									<span class="text-danger m-auto font-sc float-right" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
										password error</span>
								</div>
							</td>
						</tr>

						<!-- ユーザー名入力エリア -->
						<tr>
							<th class="active border-secondary bg-dark text-light align-middle">ユーザー名</th>
							<td>
								<div class="row align-items-center m-auto">
									<div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('userName')} ? 'has-error'">
										<input type="text" class="form-control form-control-sm valign-c" th:field="*{userName}" />
									</div>
								</div>
								<div class="col-auto m-auto">
									<span class="text-danger m-auto font-sc float-right" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">
									userName error</span>
								</div>
							</td>
						</tr>

						<!-- 誕生日入力エリア -->
						<tr>
							<th class="active border-secondary bg-dark text-light align-middle">誕生日</th>
							<td>
								<div class="row align-items-center m-auto">
									<div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('birthday')} ? 'has-error'">
										<input type="text" class="form-control form-control-sm valign-c" placeholder="yyyy/MM/dd" th:field="*{birthday}" />
									</div>
									<div class="col-auto m-auto">
									</div>
									<div class="col-auto m-auto">
										<span class="text-danger m-auto font-sc" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">
											birthday error</span>
									</div>
								</div>
							</td>
						</tr>

						<!-- 年齢入力エリア -->
						<tr>
							<th class="active border-secondary bg-dark text-light align-middle">年齢</th>
							<td>
								<div class="row align-items-center m-auto">
									<div class="form-group col-sm-2" th:classappend="${#fields.hasErrors('age')} ? 'has-error'">
										<input type="text" class="form-control form-control-sm valign-c" th:field="*{age}" />
									</div>
									<div class="col-auto m-auto">
										<small>20～100以内</small>
									</div>
									<div class="col-auto m-auto">
										<span class="text-danger m-auto font-sc" th:if="${#fields.hasErrors('age')}" th:errors="*{age}" >
											age error</span>
									</div>
								</div>
						</td>
						</tr>

						<!-- 結婚ステータス入力エリア -->
						<tr>
							<th class="active border-secondary bg-dark text-light align-middle">結婚</th>
							<td>
								<div class="form-group col-sm-12 m-auto">
									<div th:each="item:${radioMarrige}" class="form-check-inline">
										<span>
											<input class="form-check-input valign-c" type="radio" name="radioMarrige" th:value="${item.value}" th:text="${item.key}" th:field="*{marrige}" />
										</span>
									</div>
								</div>
							</td>
						</tr>
					</table>

					<!-- ユーザー登録ボタン -->
					<button class="btn btn-primary" type="submit" name="insert">ユーザー登録</button>
					<button class="btn btn-link" type="submit" name="return">ユーザー一覧に戻る</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>