# SQL除外                                                                                                  
*.sql                                                                                                                                                                                                                 # テストフォルダ除外                                                                                       
/test                
