@charset "UTF-8";

/* tag指定 */

/*-------------------------------

	背景画像指定

-------------------------------*/

body {
	background-image: url("../image/body-bg.jpg");
	background-position: center center;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 50px;
}

/*-------------------------------

	文字サイズ指定：全体

-------------------------------*/

html {
	font-size: 15px;
}

/*-------------------------------

	タイトルインデント

-------------------------------*/

h2 {
	padding-left: 1em;
	}

/*-------------------------------

	リストインデント

-------------------------------*/

li {
	padding-left: 20px;
}

ol li {
  padding-left: 4px;
}

ul li {
  padding-left: 0px;
}

/*-------------------------------

	テーブル背景指定

-------------------------------*/

td{
	background-color: white;
}



/* class指定 */

/*-------------------------------

	ホーム画面レイアウト

-------------------------------*/

.box1 {
	width: 40%;
	float: left;
	font-size: 16px;
	padding-left: 2em;
}

.box2 {
	width: 60%;
	float: right;
	font-size: 16px;
	padding-left: 2em;
	padding-right: 2em;
}

.list-border {
	background: white;
	border: 1px gray solid;
	padding-top:10px;
	padding-bottom:10px;
}

.main {
	padding-top: 70px;
	padding-left: 10px;
	position: fixed;
	display: block;
	top: 0px;
	bottom: 0;
}

/*-------------------------------

	ボタン位置

-------------------------------*/

.center {
	text-align: center;
}

/*-------------------------------

	コード画面レイアウト

-------------------------------*/

.code-border {
	font-size: 16px;
	background: lightgray;
	border: 1px gray solid;
	padding-top:10px;
	padding-left:5px;
	padding-bottom:10px;
	margin: 10px;
}

/*-------------------------------

	フォントサイズ変更

-------------------------------*/

.font-sc {
	font-size: 12px;
}

/*-------------------------------

	ヘッダー背景

-------------------------------*/

.header-bg {
	background-color: #000000;
	}

/*-------------------------------

	インデント調整

-------------------------------*/

.indent-padding {
  padding-left: 2em;
}

/*-------------------------------

	ボタン位置調整

-------------------------------*/

.btn-margin {
  margin-right: 3em;
}

/*-------------------------------

	水平線調整

-------------------------------*/

.line {
	color: #000000;
	height: 2px;
}

.line-max {
	color: #000000;
	height: 2px;
	width: 100%;
}

/*-------------------------------

	スクロールバー設定

-------------------------------*/

.scroll {
	position: relative;
	max-height: 80%;
	height: 80vh;
	overflow-y: auto;
}

.scroll-2 {
	position: relative;
	max-height: 90%;
	height: 90vh;
	overflow-y: auto;
}

.scroll-3 {
	position: relative;
	max-height: 90%;
	height: 90vh;
	overflow-y: auto;
}

/*-------------------------------

	サイドバーレイアウト

-------------------------------*/

.sidebar {
	height: 100vh;
	padding-top: 20px;
	position: fixed;
	display: block;
	top: 50px;
	buttom: 0;
	background-color: #4d4d4d;
}

/*-------------------------------

	テーブルサイズ調整

-------------------------------*/

.valign-c {
	margin-top: 7px;
	margin-bottom: -10px;
}

.width-20 {
	width: 20%;
}
